* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
header {
  height: 60px;
  width: 100%;
  float: left;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3498db,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #3498db, #2c3e50); */
  background: snow;
  padding: 0px 20px;
  /* border-bottom: 1px solid grey; */
}

.brand-logo {
  width: 40px;
  height: 100%;
  float: left;
  padding: 8px 4px;
  margin-right: 40px;
  background-color: blue;
}
.brand-logo img {
  width: 100%;
  height: 100%;
}
header > nav {
  height: 100%;
}
.navigation {
  height: 100%;
  margin: 0px;
  float: left;
}
.right {
  height: 100%;
  margin: 0px;
  float: right;
}
.navigation li {
  list-style: none;
  float: left;
  height: 60px;
  /* background-color:yellow; */
}
.navigation > li > a {
  height: 56px;
  color: black;
  padding: 0px 15px;
  font-size: 14px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  /* background-color:blue; */
  position: relative;
}
.navigation > li.MEN:hover {
  border-bottom: 4px solid #ee5f73;
}
.navigation > li.MEN .dropdown-div ul h6 {
  color: #ee5f73;
}
.navigation > li.WOMEN:hover {
  border-bottom: 4px solid #fb56c1;
}
.navigation > li.WOMEN .dropdown-div ul h6 {
  color: #fb56c1;
}
.navigation > li.ESSENTIALS:hover {
  border-bottom: 4px solid #f2c210;
}
.navigation > li.ESSENTIALS .dropdown-div ul h6 {
  color: #f2c210;
}

.navigation li a svg {
  width: auto;
  font-size: 16px;
  margin: 4px 4px 4px 4px;
}

.navigation li a .navtext {
  width: 100%;
  height: 20px;
  position: absolute;
  top: 38px;
  left: 0px;
  font-size: 10px;
  font-weight: bolder;
  /* background:blue; */
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  margin: 0px;
  float: right;
}
.show-menu-btn i {
  line-height: 40px;
}
#toggle-btn {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/* dropdowns */
.dropdown-div {
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 88vw;
  height: 280px;
  padding-top: 32px;
  display: flex;
  justify-content: space-evenly;
  background: snow;
  z-index: 10;
}
.navigation > li .dropdown-div ul h6 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.navigation li .dropdown-div ul {
  display: flex;
  flex-direction: column;
}

.navigation li .dropdown-div ul li {
  height: 26px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}
.navigation li .dropdown-div ul li a {
  color: #282c3f;
  line-height: 23px !important;
  font-weight: 400;
  display: block;
  text-decoration: none;
  /* transition: all 0.3s ease-in-out; */
}
.navigation li .dropdown-div ul li > a:hover {
  font-weight: 550;
  /* transform: scale(1.01); */
}

.navigation li:hover .dropdown-div {
  visibility: visible;
}
.dropdown-div:focus {
  visibility: visible;
}
.profile-dropdown {
  width: 292px;
  left: 85vw;
  top: 62px;
  z-index: 9;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  -webkit-transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  background-color: #fff;
  color: #3e4152;
  border: 1px solid #f5f5f6;
  margin: -2px 0px;
  padding-top: 0px;
  padding: 18px;
}
.profile-dropdown .innerDiv {
  /* position:absolute; */
  /* width:100%; */
  height: auto; 
  background: pink;
}
.profile-dropdown .innerDiv .profile-top {
  /* padding:20px; */
  /* width:100%; */
  height: auto;
  background: red;
}

.profile-dropdown .innerDiv .infoRow {
  width: 100%;
  display: block;
  font-size: 14px;
  color: #282c3f;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: blue;
}
.profile-dropdown > .innerDiv > .profile-top > .signInRow{
  width: 100%;
  height: 100px;
  background:yellow;
  position: absolute;
}
.signIn {
  height: 60px !important;
  width: 160px !important;
  position: absolute;
  padding:20px;
  background: peachpuff;
}

/* #search-form {
  position: absolute;
  left: 50%;
  width: 400px;
  height: 40px;
}
#search-form form {
  margin: 0px;
  padding: 0px;
}
#search-form input {
  width: 400px;
  height: 32px;
  position: relative;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
} */
/*-- Responsive CSS --*/
@media screen and (max-width: 767px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .right,
  .navigation {
    position: fixed;
    width: 100%;
    height: 50vh;
    background: green;
    z-index: 10;
    top: -100%;
    left: 0;
    padding: 50px 0px;
    transition: 0.6s;
    /* z-index: -990; */
  }
  .navigation li {
    width: 100%;
  }
  .navigation li a {
    padding: 15px 15px;
    text-align: left;
  }
  .navigation li a i {
    width: auto;
    font-size: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  #toggle-btn:checked ~ nav .navigation {
    top: 0px;
  }
  #toggle-btn:checked ~ nav .right {
    top: 40vh;
    /* background-color: pink; */
  }
  #search-form {
    display: none;
  }
}
