.cartNav {
  /* background-color: pink; */
  position: absolute;
  top: 0px;
  right: 20px;
  height: 56px;
  width: 34px;
  margin-left: 14px;
}
.cartNavDiv {
  position: absolute;
  bottom: 0px;
  height: 28px;
  width: 28px;
  /* background-color: red; */
}
.noOfItems {
  position: absolute;
  right: 0px;
  top: 20px;
  background-color: pink;
  width: 18px;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  color: black;
  font-weight: 800;
}
